<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="shortcut icon" href="../favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Hakone House</title> 
</head>
<body class="bg-[#271F1F]">
    <header class="flex justify-between items-center flex-wrap p-12 gap-x-18 px-38 bg-[#271F1F] h-32 border-2 border-transparent border-b-[#2e2525] rounded-br-xl rounded-bl-xl"> <!--sticky top-0-->
        <div class="animated-element ml-14">
            <a href="index.html">
                <h1 class="text-white text-3xl font-serif tracking-[.25em]">HAKONE HOUSE</h1>
            </a>
        </div>
        <nav class="flex justify-between items-center gap-x-6 text-lg text-white font-[Rubik]">
            <a href="#" class="py-2 px-5 rounded-3xl font-bold border-2 border-transparent hover:border-white duration-100"> <i class="mr-3 fa-solid fa-utensils"></i> Cardápio</a>
            <a href="#" class="py-2 px-5 rounded-3xl font-bold border-2 border-transparent hover:border-white duration-100"> <i class="mr-3 fa-solid fa-tags"></i> Promoções</a>
            <a href="#" class="py-2 px-5 rounded-3xl font-bold border-2 border-transparent hover:border-white duration-100"> <i class="mr-3 fa-solid fa-map-location"></i> Endereço</a>
            <a href="#" class="py-2 px-5 rounded-3xl font-bold border-2 border-transparent hover:border-white duration-100"> <i class="mr-3 fa-solid fa-at"></i></i>Sobre</a>
        </nav>
    </header>
    <section class="flex justify-end items-center bg-[url(assets/hero-20.png)] bg-center bg-no-repeat bg-cover min-h-200">
        <div class="flex justify-center items-center flex-col text-white mr-40 max-w-120 min-h-200 animated-element">
            <h1 style="font-family: 'Righteous', sans-serif;" class="font-serif text-5xl/20 text-right font-[Righteous] ">Levando a culinária japonesa para a região norte</h1>
            <a href="#" class="self-end bg-red-700 rounded-sm py-4 px-12 font-bold text-3xl hover:bg-[#570000] font-[Rubik] hover:px-11 mt-8 duration-100">Faça seu Pedido</a>
        </div> 
    </section>
    <section class="flex justify-center items-center bg-white min-h-200">

    </section>
    <section class="flex justify-center items-center bg-[#271F1F] min-h-200">

    </section>
    <section class="flex justify-center items-center bg-white min-h-200">

    </section>
    <footer class="flex justify-between items-center min-h-80 bg-[#271F1F] ">

    </footer>
</body>
</html>